.inventory {
    --size: 2em;
    position: relative;
    /*height: calc(var(--size) + 1ex);*/
    height: var(--size);
    overflow: hidden;
    margin-bottom: 1em;
}

.inventory.disabled {
    pointer-events: none;
    filter: grayscale(0.8);
}

.inventory.hidden {
    display: none !important;
}

.inventory-items {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    text-align: right;
    height: 100%;
    opacity: 0.6;
    transition: 200ms linear all;
    display: inline-block;
    vertical-align: middle;
    /*padding: 0.5ex 1ex;*/
    padding: 0ex 1ex;
}

.inventory-items-tag {
    position: absolute;
    width: var(--size);
    height: var(--size);
    right: 100%;
    cursor: pointer;
    opacity: 0.6;
}
/*
.inventory-items-tag svg,
.inventory-items svg {
    filter: drop-shadow(3px 3px 3px var(--main-color));
}
*/
.ping-inventory .inventory-items-tag {
    animation-name: hilite-inventory;
    animation-duration: 3s;
}

.inventory.open .inventory-items {
    opacity: 1;
    transition: 200ms linear all;
    transform: translateX(0);
}

.inventory:hover .inventory-items,
.inventory:focus .inventory-items {
    opacity: 1;
    transition: 200ms linear all;
}

.inventory-icon {
    display: inline-block;
    line-height: var(--size);
    height: var(--size);
}

.inventory-icon a {
    cursor: zoom-in;
}

@keyframes hilite-inventory {
    0% { opacity: 0.6; }
    25% { opacity: 1; }
    40% { opacity: 0.2; }
    50% { opacity: 1; }
    60% { opacity: 0.2; }
    75% { opacity: 1; }
    100% { opacity: 0.6 }
}